/* Typograhpy */
.heading-secondary {
    font-size: 5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1rem;
    margin-bottom: 10rem;
}

.heading-tertiary {
    font-weight: 700;
    font-size: 5rem;
    letter-spacing: .25rem;
    text-transform: uppercase;
}