/* Variables */
:root {
    /* fonts */
    --font-regular: 'Roboto', sans-serif;
    --font-condensed: 'Roboto Condensed', sans-serif;

    /* colors */
    --color-white: #fff;
    --color-black: #000;
    --color-red: #FF0000;
    --color-beige: #EBE8DE;
    --color-grey: #F2F2F2;
    --color-green: #39B54A;
}

/* media query sizes */
$lg: 1420px;
$md: 992px;
$sm: 670px;
$xs: 460px;