.form {

    &__heading {
        font-size: 5rem;
        letter-spacing: 1rem;
        font-weight: 700;
    }

    &__group {

        &--text {

        }

        &--radio {
            display: flex;
            flex-direction: row;
        }
    }

    &__item {

    }

    &__input {
        font-family: inherit;
    }

    &__label {
        font-family: inherit;
        font-size: 1.6rem;
        letter-spacing: .16rem;
    }

    &__textarea {
        font-family: inherit;
    }

    &__btn {
        color: var(--color-white);
        background-color: var(--color-black);
        border: none;
    }
}