.form {

    &__heading {

    }

    &__group {

    }

    &__item {

    }

    &__input {
        font-family: inherit;
    }

    &__label {
        font-family: inherit;
    }

    &__textarea {
        font-family: inherit;
    }

    &__btn {

    }
}