/* Contact */
.contact {
    position: relative;
    height: 100vh;
}

/* Maps */
.contact__map {
    width: 84%;
    height: 80vh;
    margin: 0 auto;
}

.contact__info {
    width: 66%;
    height: auto;
    display: flex;
    position: absolute;
    bottom: 20rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-white);
}

.contact__social {
    flex: 0 0 47.8rem;
    background-color: var(--color-beige);
}

.contact__social {
    padding: 5.3rem 7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.subheading {
    font-size: 5rem;
    font-weight: 700;
}

.social-media-icons {
    display: flex;
}

.social-media__icon {
    width: 5rem;
    height: 5rem;
    padding: 1rem;
    display: inline-block;
    border: 1px solid var(--color-black);
    border-radius: 100px;
}

.social-media:not(:last-child) {
    margin-right: 2rem;
}
