/* Contact */
.contact {
    position: relative;
    height: 85vh;

    @media only screen and (max-width: $lg) {
        height: auto;
        overflow: initial;
    }

    /* Google Maps */
    &__map {
        width: 80vw;
        height: 80vh;
        margin: 0 auto;
        margin-bottom: 7vh;

        @media only screen and (max-width: $lg) {
            width: 100%;
            height: 57.3rem;
        }
    }

    /* Contact Information and Form Wrapper */
    &__wrapper {
        background-color: var(--color-white);
        border: 1px solid var(--color-beige);

        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        display: flex;
        width: 65vw;

        @media only screen and (max-width: $lg) {
            flex-direction: column;
            width: 70vw;
            position: relative;
            margin-top: -20rem;
        }

        @media only screen and (max-width: $lg) {
            width: 80vw;
        }
    }

    /* Section Heading and Social Menu Wrapper */
    &__social {
        flex: 0;
        padding: 4rem 5rem;
        width: 24vw;

        background-color: var(--color-beige);

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        position: relative;

        @media only screen and (max-width: $lg) {
            padding: 2rem 3rem;
        }

        @media only screen and (max-width: $lg) {
            order: 1;
            width: 120%;
            margin-left: -10%;

            flex-direction: row;

            background-color: var(--color-white);
        }
    }
}

/* Social Media Icons */
.social-media {
    display: flex;

    &__link {
        &:not(:last-child) {
            margin-right: 2rem;
        }
    }

    &__icon {
        width: 5rem;
        height: 5rem;
        padding: 1rem;
        display: inline-block;
        border: 1px solid var(--color-black);
        border-radius: 50%;
    }
}
