.footer {
    width: 65vw;
    height: 13vh;
    margin: 0 auto;

    font-family: var(--font-regular);
    font-size: 1.6rem;
    letter-spacing: .8px;
    color: var(--color-black);

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &__copyright {

        @media only screen and (max-width: $xs) {
            margin-bottom: 2rem;
        }
    }

    &__authors {
        display: flex;
        align-items: flex-start;

        & > * {
            display: inline-block;
        }
    }

    &__created {
        margin-right: .6rem;
        font-weight: 400;
    }

    @media only screen and (max-width: $lg) {
        width: 100%;
        height: auto;
        border-top: 1px solid var(--color-beige);
        padding: 2rem 6rem;
    }

    @media only screen and (max-width: $sm) {
        padding: 4rem 3rem 1rem 3rem;
    }

    @media only screen and (max-width: $xs) {
        flex-direction: column;
        align-items: center;
    }
}

.authors {
    &__item {

        &:not(:last-child) {
            margin-bottom: .8rem;
        }
    }

    &__link:link,
    &__link:visited {
        color: inherit;
        text-decoration: none;
        display: block;

        transition: color .2s;
    }

    &__link:hover,
    &__link:active {
        color: var(--color-red);
    }
}