/* Header */
.header {
    height: 100vh;
    width: 100%;

    position: relative;
    overflow: hidden;

    &__title {
        font-size: 14.2rem;
        font-weight: 700;
        text-transform: uppercase;
        line-height : 8.509rem;
        letter-spacing: 1.46rem;
        color: var(--color-white);

        position: absolute;
        left: 3rem;
        top: 7.5rem;
    }

    &__title span {
        position: relative;
    }

    &__title span::before {
        content: "";
        position: absolute;
        background-color: var(--color-white);
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        top: -1rem;
        left: 2.1rem;
    }
}