/* Services */
.section-services {
    width: 100%;
    height: 100vh;
    text-align: center;
    position: relative;
    padding: 9rem 0 0 0;

    @media only screen and (max-width: $sm) {
        height: auto;
        margin-bottom: 8rem;
    }
}

.services {
    width: 120rem;
    height: 39.5rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: $lg) {
        width: 90rem;
        height: 30rem;
        overflow: hidden;
    }

    @media only screen and (max-width: $md) {
        width: 91%;
    }

    @media only screen and (max-width: $sm) {
        width: 91%;
        flex-direction: column;
        height: auto;
        width: 82%;
    }

    &__item {
        background-color: var(--color-beige);
        flex: 1;
        padding: 6.5rem 0;

        @media only screen and (max-width: $sm) {
            width: 100%;
        }

        &:not(:last-child) {
            margin-right: 2.4rem;

            @media only screen and (max-width: $lg) {
                margin-right: 2.7rem;
            }

            @media only screen and (max-width: $sm) {
                margin-right: 0;
                margin-bottom: 4rem;
            }
        }
    }

    &__icon {
        box-sizing: content-box;
        width: 14rem;
        height: 14rem;
        display: inline-block;
        margin-bottom: 6.5rem;

        @media only screen and (max-width: $lg) {
            width: 10.5rem;
            height: 10.5rem;
            margin-bottom: 5rem;
        }

        @media only screen and (max-width: $sm) {
            width: 23.3rem;
            height: 23.3rem;
        }
    }

    &__title {
        font-size: 5rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1rem;

        @media only screen and (max-width: $lg) {
            font-size: 3.9rem;
            letter-spacing: .74rem;
        }
    }
}